.ui.menu
  .header.item
    = link_to 'De(n|v)BLOG', root_path
  .right.menu
    = link_to 'GitHub', 'http://github.com/dendomenko', class: 'item', target: '_blank'
    = link_to 'Facebook', 'https://www.facebook.com/profile.php?id=100000699377986', class: 'item', target: '_blank'
    = link_to 'Twitter', 'http://twitter.com/dendomenko', class: 'item', target: '_blank'
